* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
    width: 100vw;
    height: 100vh;
}

#header-page {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: white;
    background-color: rgb(6, 100, 31);
    height: 100px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;

}

#computerarea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    width: 100%;
}

#playersarea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 100%;
}

.computerscard {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    color: rgb(6, 100, 31);
    font-size: 30px;
    height: 100%;
    width: 100%;
    width: 10vw;
    height: 25vh;
    border: 2px solid rgb(6, 100, 31);
    border-radius: 15px;
    z-index: 1;
    background-color:rgb(193, 164, 17);
}

.computerscardgamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    color: rgb(6, 100, 31);
    font-size: 30px;
    height: 100%;
    width: 100%;
    width: 10vw;
    height: 25vh;
    border: 2px solid rgb(6, 100, 31);
    border-radius: 15px;
}

.playerscardgamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    color: rgb(6, 100, 31);
    font-size: 30px;
    height: 100%;
    width: 100%;
    width: 10vw;
    height: 25vh;
    border: 2px solid rgb(6, 100, 31);
    border-radius: 15px;
}

#playersplace {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
}

#computersplace {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(193, 164, 17);
}

.button {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(6, 100, 31);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(6, 100, 31);
    height: 100%;
    width: 100%;
    width: 10vw;
    height: 25vh;
    z-index: 1;
    background-color:red;
}

#gamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 30px;
}


#computerscore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(193, 164, 17);
    font-size: 50px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Balsamiq Sans', sans-serif;
    margin: 10px;
    width: 100px;
    height: 150px;

}

#playerscore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 50px;
    font-family: 'Balsamiq Sans', sans-serif;
    width: 100px;
    height: 150px;
    margin: 10px;
}

#deck {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#instructions {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    color: rgb(6, 100, 31);
    font-size: 20px;
    border: 2px solid rgb(6, 100, 31);
    border-radius: 15px;
    padding: 10px;
}

#start-button {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(6, 100, 31);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(6, 100, 31);
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(6, 100, 31);
    font-size: 60px;
}

@media screen and (max-width: 490px) {

    .computerscard {

        width: 15vw;
        height: 15vh;
    }

    .button {
        font-family: 'Balsamiq Sans', sans-serif;
        width: 15vw;
        height: 15vh;
    }

    .computerscardgamearea {
        font-family: 'Balsamiq Sans', sans-serif;
        width: 15vw;
        height: 15vh;
    }

    .playerscardgamearea {
        font-family: 'Balsamiq Sans', sans-serif;
        width: 15vw;
        height: 15vh;
    }

}