* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex-grow: 1;
}

#header-page {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(212, 121, 180);
    background-color: rgb(50, 19, 81);
    min-height: 50px;
}

#nav,
#restart {
    position: absolute;
    left: 30px;
    font-size: 20px;
    color: rgb(212, 121, 180);
}

#restart {
    left: 78vw;
}

#nav-icon,
#restart-icon {
    position: absolute;
    color: rgb(212, 121, 180);
    display: none;
    font-size: 20px;
    left: 20px;
}

#restart-icon {
    right: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#chand,
#phand {
    font-size: 20px;
}

#computerarea,
#playersarea,
#computerscards,
#playersareaold {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

#pile-cards {
    font-size: 20px;
    font-family: 'Balsamiq Sans', sans-serif;
    background-color: white;
    width: 90%;
    z-index: 10;
    border: 2px solid rgb(50, 19, 81);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 10em;
    left: 40px;
    right: 40px;
    min-height: 40vh;
}

.computerscard,
.deck,
.pilecard {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-image: linear-gradient(rgb(212, 121, 180), white, rgb(113, 206, 220));
    font-size: 0px;
    width: 80px;
    height: 120px;
    border: 2px solid rgb(50, 19, 81);
    border-radius: 15px;
    z-index: 1;
}

#pile-cards-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
    min-height: 100px;
    top: 5em;
    height: 90px;
    width: 78px;
}

.pilecard {
    position: absolute;
}
#pile-0 {
    z-index: 11;
    font-size: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#pile-0:hover {
    width: 90px;
    height: 130px;
}

.deck {
    font-size: 30px;
    background-color: white;
    width: 100px;
    height: 150px;
}

#replacetext {
    font-size: 20px;
}

.computerscardgamearea,
.playerscardgamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    color: rgb(50, 19, 81);
    font-size: 30px;
    width: 80px;
    height: 120px;
    border: 2px solid rgb(50, 19, 81);
    border-radius: 15px;

}

#playersplace,
#computersplace {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 80px;
    height: 120px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: rgb(212, 121, 180);
}



.playerinnerdiv {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 80px;
    height: 120px;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 80px;
    height: 120px;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   transition: background-color 0.5s ease;
}

.blink:hover {
    background-color: rgb(212, 121, 180);
}

.cards-index {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 100px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#gamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


#computerscore,
#playerscore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Balsamiq Sans', sans-serif;
    margin: 5px;
}

#computerscore {
    color: rgb(113, 206, 220);
}


#playerscore {
    color: rgb(212, 121, 180);
}


#playerscoretext,
#computerscoretext {
    font-size: 20px;
    margin: 5px;
    max-width: 80px;
    min-height: 130px;
    margin: 25px;
}

#deck {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#instructions,
#deck-introduction {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 19, 81);
    font-size: 20px;
    padding: 10px;
}

#start-button,
#no {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    border: 2px solid rgb(50, 19, 81);
    background-color: white;
    cursor: pointer;
    margin-right: 40px;
}

#main {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 60px;
    background-image: linear-gradient(rgb(113, 206, 220), white, white, rgb(212, 121, 180));

}

footer {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(212, 121, 180);
    background-color: rgb(50, 19, 81);
    min-height: 50px;

}

#play-again {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 2px;
    border: 2px solid rgb(50, 19, 81);
    background-color: white;
    cursor: pointer;

}


@media screen and (max-width: 490px) {

    #computer-section, #gamearea, #player-section {
        font-size: 0px;
    }

    #instructions,
    #deck-introduction {
        margin: 0px;
        font-size: 15px;
    }

    .computerscard {
        width: 60px;
        height: 90px;
    }

    .button,
    .computerscardgamearea,
    .playerscardgamearea {
        font-family: 'Balsamiq Sans', sans-serif;
        width: 15vw;
        height: 15vh;
    }

    #playerscoretext,
    #computerscoretext {
        font-size: 15px;
        width: 15vw;
        margin: 0px;
    }

    #replacetext {
        margin: 0px;
    }

    #nav,
    #restart {
        display: none;
    }

    #nav-icon,
    #restart-icon {
        display: block;
    }

    #restart-icon {
        left: 85vw;
        width: 36px;
    }

    .button,
    .computerscardgamearea,
    .playerscardgamearea,
    .playerinnerdiv {
        font-size: 20px;
        width: 60px;
        height: 90px;
        transition:none;
    }

    .button:hover {
        width: 60px;
        height: 90px;
    }

    #computersplace, #playersplace {
        font-size: 20px;
    }

    .computerscard {
        font-size: 0px;
    }

    #pile-cards-group {
        left:0px;
        right:0px;
    }

    .pilecard {
        width: 60px;
        height: 90px;
        margin-bottom: 20px;

    }

    .cards-index,
    .deck {
        width: 50px;
        height: 75px;
    }

#pile-0 {
    z-index: 20;
    font-size: 15px;
}

    #pile-cards {
        font-size: 15px;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        left:0px;
        right:0px;
        top:7em;
    }

    #no {
        margin: 0px;
    }
}