* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

#header-page {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(212, 121, 180);
    background-color: rgb(50, 19, 81);
    min-height: 80px;
}

#nav, #restart {
    position: absolute;
    left: 40px;
    font-size: 30px;
    color: rgb(212, 121, 180);
}

#restart {
    left: 78vw;
}

#nav-icon, #restart-icon {
    position: absolute;
    color: rgb(212, 121, 180);
    display: none;
    font-size: 30px;
    left: 20px;
}

#restart-icon {
    right:20px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

#computerarea, #playersarea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

#computerarea {
   align-items: flex-end;
}

.computerscard, .deck {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-image: linear-gradient(rgb(212, 121, 180),white, rgb(113, 206, 220) );
    font-size: 0px;
    width: 100px;
    height: 150px;
    border: 2px solid rgb(50, 19, 81);
    border-radius: 15px;
    z-index: 1;
   
}

.deck {
    font-size: 30px;
    background-color:  white;
    width: 100px;
    height: 150px;
}

.computerscardgamearea, .playerscardgamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    color: rgb(50, 19, 81);
    font-size: 30px;
    width: 100px;
   height: 150px;
    border: 2px solid rgb(50, 19, 81);
    border-radius: 15px;
    
}

#playersplace, #computersplace {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 100px;
    height: 150px;
    z-index: 1;
    cursor:pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cards-index {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    border: 2px solid rgb(50, 19, 81);
    width: 100px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


#gamearea {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


#computerscore, #playerscore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Balsamiq Sans', sans-serif;
    margin: 5px;
}

#computerscore {
    color: rgb(113, 206, 220);
}


#playerscore {
    color: rgb(212, 121, 180);
}


#playerscoretext, #computerscoretext {
    font-size: 20px;
    margin: 5px;
    max-width: 80px;
    min-height: 130px;
    margin: 25px;
}

#deck {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#instructions, #deck-introduction {
    font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: rgb(50, 19, 81);
    font-size: 20px;
    padding: 10px;
}

#start-button {
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 30px;
    border-radius: 15px;
    margin: 2px;
    border: 2px solid rgb(50, 19, 81);
    background-color: white;
    cursor:pointer;
}

#main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
    color: rgb(50, 19, 81);
    font-size: 60px;
    background-image: linear-gradient(rgb(113, 206, 220),white,white ,rgb(212, 121, 180) );
   
}

footer {font-family: 'Balsamiq Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(212, 121, 180);
    background-color: rgb(50, 19, 81);
    min-height: 60px;

}

@media screen and (max-width: 490px) {

    .computerscard {

        width: 15vw;
        height: 15vh;
    }

    .button, .computerscardgamearea, .playerscardgamearea {
        font-family: 'Balsamiq Sans', sans-serif;
        width: 15vw;
        height: 15vh;
    }

    #playerscoretext, #computerscoretext {
        font-size: 15px;
        width: 15vw;
    }

    #nav, #restart {
        display: none;
    }
    #nav-icon, #restart-icon {
        display: block;
    }
    
    #restart-icon {
        left: 85vw;
        width:36px;
    }

    .button, .computerscard, .computerscardgamearea, .playerscardgamearea, .deck, .cards-index {
       width: 80px;
       height: 130px;
    }

}
