* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

#header-page {
    background-color: blueviolet;
    height: 100px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#computerarea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#playersarea {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.computerscard {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: brown;
}

.button {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: brown;
}

#gamearea {display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.computergamearea {
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.playergamearea {
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
}